<div class="fixed top-0 left-0 px-8 py-2 h-12 bg-white border-b-2 border-gray-200 shadow-md w-screen flex justify-between z-10">
  <div class="font-bold text-xl">Book Club</div>
  <%= link_to "Books", books_path %>
</div>
<div class="w-full flex mt-12 relative">
  <div class="absolute left-0 top-0 w-64 p-4 h-full bg-gray-100 border-gray-200 border-r-2">
    <%= image_tag @book.image_url%>
    <ul class="mt-2 text-sm">
      <% @book.chapters.each_with_index do |chapter, index| %>
        <li class="space-y-2 border-gray-300 border-b-2 py-1">
          <%= link_to "#{index + 1}. #{chapter.title}", book_chapter_path(@book, chapter.number) %>
        </li>
      <% end %>


  </div>
  <div class="ml-64 p-8">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @book %>

    <%= link_to "Edit this book", edit_book_path(@book), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this book", book_path(@book), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to books", books_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

<div>
  <% @comments.each do |comment| %>
    <%= render CommentComponent.new(comment:) %>
  <% end %>
</div>
<div>
  <%= render CommentComponent.new(key: @book.id, key_type: "chapter") %>
</div>