<%= render DrawerComponent.new(@book) %>
<div class="px-8 py-2 h-12 bg-white border-b-2 border-green-200 shadow-md w-screen flex justify-between z-10">
  <div class="ml-2 sm:ml-0 font-bold text-xl">Book Club</div>
  <%= link_to "Books", books_path %>
</div>
<div class="w-full flex relative">
  <div class="hidden sm:block w-64 p-4 h-full border-green-200 border-r-2">
    <%= link_to @book do %>
      <%= image_tag @book.image_url%>
    <% end %>
    <ul class="mt-2 text-sm">
      <% @book.chapters.order(:number).each do |chapter| %>
        <li class="space-y-2 border-green-300 border-b-2 py-1">
          <%= link_to "#{chapter.number}. #{chapter.title}", book_chapter_path(@book, chapter.number) %>
        </li>
      <% end %>
  </div>
  <div class="p-2 w-full">
    <div class="flex flex-col sm:flex-row sm:space-x-4">
      <div class="text-lg font-bold flex-wrap">
        <%= @book.title %>
      </div>
      <div class="text-lg flex-wrap">
        <%= @book.author %>
      </div>
      <div class="hidden sm:block">:</div>
      <div class="text-lg">
        <%= @chapter.title %>
      </div>
    </div>
    <div class="">
      <div class="space-y-4">
        <% @comments.each do |comment| %>
          <%= render CommentComponent.new(comment:) %>
        <% end %>
        <div>
          <%= render CommentComponent.new(key: "#{@book.id}|#{@chapter.id}", key_type: "chapter") %>
        </div>
      </div>
    </div>
  </div>
</div>
